{{ header }}

<div class="container text-center mt-5">
  {% if erro %}
    <div class="alert alert-danger" role="alert">
      {{ erro }}
    </div>
  {% else %}
   
    <div class="row justify-content-center">
		  <img src="{{ logo }}" class="img-fluid mb-3 col-lg-3 col-md-5 col-7" alt="...">
	  </div>
    
    <div class="spinner-border " role="status" style="color: #F37021">
      <span class="visually-hidden">Aguardando confirmação...</span>
    </div>

    <strong class="fs-5">{{mensagem}}</strong>
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    {% if not erro %}
    const identificadorPagamento = '{{ identificadorPagamento }}';
    const verificaStatusUrl = '{{ verificaStatusUrl }}';

    function verificarStatusPagamento() {
      fetch(`${verificaStatusUrl}&identificadorPagamento=${encodeURIComponent(identificadorPagamento)}`)
        .then(response => response.json())
        .then(data => {
          if (data && data.status === 'aceito') {
            window.location.href = 'index.php?route=checkout/success&language={{ config_language }}';

          } else if (data && data.status === 'erro') {
            const container = document.querySelector('.container');
            container.innerHTML = `<div class="alert alert-danger" role="alert">${data.mensagem}</div>`;
          } else {
            setTimeout(verificarStatusPagamento, 3000);
          }
        })
        .catch(err => {
          console.error('Erro ao consultar status:', err);
          setTimeout(verificarStatusPagamento, 5000);
        });
    }

    verificarStatusPagamento();
    {% endif %}
  });
</script>

{{ footer }}
